.portfolio__technologies {
  margin-left: 70px;
}

.portfolio__technologies-content-header div {
  width: 38px;
  height: 7px;
  border-radius: 2px;
  background: var(--gradient-button);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.portfolio__technologies-content-header p {
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.portfolio__technologies-stack {
  font-size: 24px;
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
  width: 80%;
  color: #fff;

  padding-top: 2rem;
}

.portfolio__technologies-stack div {
  padding-bottom: 0.8rem;
}

@media screen and (max-width: 950px) {
  .portfolio__technologies {
    margin-left: 10px;
  }
}

@media screen and (max-width: 550px) {
  .portfolio__technologies {
    margin-left: 10px;
  }

  .portfolio__technologies-stack {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    /* width: 100%; */
    /* flex-direction: row; */
    flex: 1;
    justify-content: space-between;
    width: 80%;
    color: #fff;

    padding-top: 2rem;
  }

  .portfolio-stack2 {
    flex-direction: column;
  }

  /* .portfolio-stack1 {
    align-items: center;
    justify-content: center;
  } */
}
