.portfolio__about {
  margin-left: 70px;
}

.portfolio__about__content div {
  width: 38px;
  height: 7px;
  border-radius: 2px;
  background: var(--gradient-button);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.portfolio__about__content p {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  padding-bottom: 2rem;
  max-width: 800px;
  /* line-height: 27px; */

  color: rgba(255, 255, 255, 0.5);
  margin-top: 1.5rem;
}

@media screen and (max-width: 950px) {
  .portfolio__about {
    margin: 0;
    padding: 0;
  }

  .portfolio__about__content {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .portfolio__about {
    margin-left: 0;
  }
}
