button {
  background: none;
  padding: 0;
  /* outline: none; */
  border: none;
  color: white;
}

.portfolio__contact {
  margin-left: 80px;
}

.portfolio__contact-content-header div {
  width: 38px;
  height: 7px;
  border-radius: 2px;
  background: var(--gradient-button);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.portfolio__contact-content-header p {
  font-size: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.portfolio__contact-content {
  display: flex;
  /* justify-content: center; */
  flex: 1;
  color: #fff;
}

.portfolio__contact-content button {
  background: #fff;
  height: 40px;
  border-radius: 7px;
}

.portfolio__contact-content a {
  color: #000;
  padding: 4px;
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
}

.formword {
  width: 100%;
}

.formword input {
  margin-bottom: 30px;
}

.input100 {
  width: 100%;
  height: 4vh;
  padding: 0rem 2rem;
  border: none;
  outline: none;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  /* padding: 0 20px;
  margin: 0 10px; */
  overflow: hidden;
}

@media screen and (max-width: 950px) {
  .portfolio__contact {
    margin: 0;
    /* padding: 0; */
  }
}

@media screen and (max-width: 550px) {
  .portfolio__about {
    margin-left: 0;
  }

  .portfolio__contact-content button {
    background: #fff;
  }

  .portfolio__contact-content a {
    color: #000;
    padding: 4px;
  }
}
