.portfolio__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
}

.portfolio__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
 
.portfolio__navbar-links_container p{
  padding-right: 4rem;
  line-height: 32px;
}

.portfolio__navbar-links_logo {
  margin-right: 9rem;
  height: 16.02px;
}

.portfolio__navbar-links_logo h2 {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  margin-right: 30px;

  display: flex;
  flex: 1;
}

.portfolio__navbar-links_container {
  display: flex;
  flex-direction: row;
}

.portfolio__navbar-links_container a:hover {
  color: #fff;
}

.portfolio__navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgba(255, 255, 255, 0.952);
  font-size: 28px;
  align-items: center;
}

.portfolio__navbar-sign a {
  align-items: center;
  height: 2rem;
  margin-right: 3rem;
}

.portfolio__navbar-links_container p,
.portfolio__navbar-sign p,
.portfolio__navbar-menu_container p {
  color: rgba(255, 255, 255, 0.842);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-transform: capitalize;
  margin: 0 1rem;
  cursor: pointer;
}

.portfolio__navbar-sign button,
.portfolio__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  background: var(--gradient-button);
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.portfolio__navbar-sign button:hover {
  background: var(--gradient-text);
}

.portfolio__navbar-menu {
  margin-left: 1rem;
  display: none;
  position: relative;
}

.portfolio__navbar-menu svg {
  cursor: pointer;
}

.portfolio__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  text-align: end;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

.portfolio__navbar-menu_container p {
  margin: 1rem 0;
}

.portfolio__navbar-menu_container-links-sign {
  display: none;
}

@media screen and (max-width: 1050px) {
  .portfolio__navbar-links_container {
    display: none;
  }

  .portfolio__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .portfolio__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .portfolio__navbar {
    padding: 2rem;
  }

  .portfolio__navbar-sign {
    display: none;
  }

  .portfolio__navbar-menu_container {
    top: 20px;
  }

  .portfolio__navbar-menu_container-links-sign {
    display: block;
  }
}
