.portfolio__footer {
  display: flex;
  flex-direction: row;
  color: #fff;
  align-items: center;

  border-top: 1px solid #fff;
}

.portfolio__footer-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.portfolio__footer-links_container p {
  padding-right: 4rem;
  font-size: 22px;
  line-height: 32px;
  color: rgba(255, 255, 255, 0.952);
}

.portfolio__footer-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: rgba(255, 255, 255, 0.952);
  font-size: 28px;
  align-items: center;
}

.portfolio__footer-sign a {
  align-items: center;
  height: 2rem;
  margin-right: 3rem;
}

.portfolio__footer-sign a:hover {
  color: grey;
}

.portfolio__footer-links_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 6rem;
}

@media screen and (max-width: 700px) {
  .portfolio__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .portfolio__footer-heading h1 {
    text-align: center;
  }

  .portfolio__footer-heading p {
    text-align: center;
  }

  .portfolio__footer-sign {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
  }
}
